<!DOCTYPE html>
{% load static %}
{% load cart_template_tags %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ReStyle - vente - de - friperies--chics-et-raffinés -- TG</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'csss/style.css' %}">
	<!-- Demo CSS -->
	<link rel="stylesheet" href="{% static 'csss/demo.css' %}">

    
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                 
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                {% if request.user.is_authenticated %}
                    <div class="btn-group">
                        <div class="container"> 
                            <div class="container">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user" style='color: #f3da35'></i>
                                </button> 
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'account_logout' %}" class="dropdown-item" type="button">Se déconnecter</a> 
                                </div> 
                            </div>
                        </div> 
                    </div>
                    <div class="navbar-nav ml-auto py-0 d-block d-lg-none">
                        <a href="{% url 'cart' %}">
                            <i class="fas fa-shopping-cart text-primary"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">{{ request.user|cart_item_count}}</span>
                        </a>       
                    </div>
                {% else %}
                    <div class="btn-group">
                        <div class="container"> 
                            <div class="container">
                                {% comment %} <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#loginModal"> {% endcomment %}
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-user text-dark ml-2"></i>
                                </button>  
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="{% url 'account_login' %}" class="dropdown-item" type="button">Se connecter</a>
                                    <a href="{% url 'account_signup' %}" class="dropdown-item" type="button">S'inscrire</a>
                                </div>
                            </div>

                        </div>        
                              
                    </div>
                    
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="{% url 'index' %}" class="text-decoration-none">
                    <span style="font-family: Bradley Hand ITC" class="h1 text-uppercase text-primary bg-dark px-2">ReStyle</span>
                    <span style="font-family: Bradley Hand ITC" class="h1 text-uppercase text-dark bg-primary px-2 ml-n1"></span>
                </a>
            </div>
            
            <div class="col-lg-4 col-6 text-left">
                <form action="" method="GET" >
                    <div class="input-group">
                        <input name="q" type="text" class="form-control" placeholder="recherche">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    {% block content %}


    {% endblock content %}

    <!-- modal Javascript -->

</body>

</html>