<!DOCTYPE html>
{% load static %} {% load cart_template_tags %} {% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/"
    />

    <!-- title -->
    <title>
      Friperie en ligne - Achetez des vêtements d'occasion de qualité - Hommes
      et Femmes
    </title>

    <!-- favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.png' %}"
    />
    <!-- google font -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <!-- mean menu css -->
    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}" />
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <!-- responsive -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- FontAwesome -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <style>
      a.cart .cart-basket {
        font-size: 0.6rem;
        /* position: absolute; */
        /* top: -6px; */
        right: -5px;
        width: 15px;
        height: 15px;
        color: #fff;
        background-color: #e76021e5;
        border-radius: 50%;
      }

      .label {
        color: black;
        padding: 8px;
      }
      .warning {
        background-color: #ff6600;
      } /* Orange */
      .danger {
        background-color: #f44336;
      } /* Red */
    </style>

    <!--PreLoader-->
    <div class="loader">
      <div class="loader-inner">
        <div class="circle"></div>
      </div>
    </div>
    <!--PreLoader Ends-->

    <!-- header -->
    <div class="top-header-area" id="sticker">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
              <!-- logo -->
              <div class="site-logo">
                <a href="{% url 'index' %}">
                  <img src="{% static 'img/logo.png' %}" alt="" />
                </a>
              </div>
              <!-- logo -->

              <!-- menu start -->
              <nav class="main-menu">
                <ul>
                  <li class="current-list-item">
                    <a href="{% url 'index' %}">Accueil</a>
                  </li>
                  <li>
                    <a href="{% url 'shop' %}">Boutique</a>
                    <ul class="sub-menu">
                      <li><a href="{% url 'hauts' %}">Hauts</a></li>
                      <li><a href="{% url 'pantalon' %}">Pantalons</a></li>
                      <li><a href="{% url 'contact' %}">t-shirt homme</a></li>
                      <li><a href="{% url 'jupes' %}">Jupes</a></li>
                      <li><a href="{% url 'robes' %}">Robes</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li><a href="{% url 'about' %}">A propos</a></li>

                  <li class="nav-item px-3 mb-0 position-relative d-lg-flex">
                    <div id="cart" class="d-none"></div>
                    {% if request.user.is_authenticated %}
                    <a
                      href="{% url 'cart' %}"
                      class="cart position-relative d-inline-flex"
                      aria-label="View your shopping cart"
                    >
                      <!-- <i class="fas fa fa-shopping-cart fa-lg"></i> --><i
                        class="fas fa-shopping-cart"
                      ></i>
                      <span
                        class="cart-basket d-flex align-items-center justify-content-center"
                      >
                        {{ request.user|cart_item_count}}
                      </span>
                    </a>
                    <a href="{% url 'account_logout' %}">Déconnexion</a>
                    {% else %}
                    <a href="{% url 'account_login' %}">Connexion</a>
                    <a href="{% url 'account_signup' %}">S'inscrire</a>
                    {% endif %}
                    <a class="mobile-hide search-bar-icon" href="#"
                      ><i class="fas fa-search"></i
                    ></a>
                  </li>
                </ul>
              </nav>
              <a class="mobile-show search-bar-icon" href="#"
                ><i class="fas fa-search"></i
              ></a>
              <div class="mobile-menu"></div>
              <!-- menu end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header -->

    <!-- search area -->
    <div class="search-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <span class="close-btn"><i class="fas fa-window-close"></i></span>
            <div class="search-bar">
              <div class="search-bar-tablecell">
                <h3>Rechercher:</h3>
                <input type="text" placeholder="Keywords" />
                <button type="submit">
                  Search <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end search area -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
              <p>Fresh and Organic</p>
              <h1>Check Out Product</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end breadcrumb section -->
    {% if messages %} {% for message in messages %}
    <div
      style="margin-top=5rem;"
      class="alert alert-{{ message.tags}} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %}
    <!-- check out section -->
    <div class="checkout-section mt-150 mb-150">
      <div class="row">
        <div class="col-lg-8">
          <div class="checkout-accordion-wrap">
            <div class="accordion" id="accordionExample">
              <div class="card single-accordion">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Confirmation
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="billing-address-form">
                      <div class="container wow fadeIn">
                        <div class="row">
                          <div class="col-md-8 mb-4">
                            <div class="col-md-6">
                              <form
                                methode="GET"
                                action="https://paygateglobal.com/v1/page"
                              >
                                {% csrf_token %}
                                <input
                                  type="hidden"
                                  name="token"
                                  value="593bd3ea-c9ae-4bc3-bb7b-d92cfaba604b"
                                />
                                {% if order.items.all %} {% if order.get_total
                                %}
                                <input
                                  type="hidden"
                                  name="amount"
                                  value="1"
                                  class="form-control"
                                  id="amount"
                                />
                                {% endif %} {% endif %}
                                <input
                                  type="hidden"
                                  name="description"
                                  class="form-control"
                                  value="vous êtes sur le point de faire une transaction sécurisée avec fripify"
                                />
                                <input
                                  type="hidden"
                                  name="identifier"
                                  value="{{paymentId}}"
                                />
                                <input
                                  type="hidden"
                                  name="url"
                                  value="http://127.0.0.1:8000/paysuccess/"
                                />
                                <input
                                  type="hidden"
                                  name="phone"
                                  value="{{ request.user.profile.numero }}"
                                />
                                <button
                                  type="submit"
                                  class="btn btn-outline-warning ml-5"
                                >
                                  Valider votre Panier ici
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end check out section -->

    <!-- footer -->
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-box about-widget">
              <h2 class="widget-title">A propos de nous</h2>
              <p>
                ReStyle est spécialisée dans la vente de friperies de première
                qualité.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box get-in-touch">
              <h2 class="widget-title">Nous contacter</h2>
              <ul>
                <li>Lomé,Togo.</li>
                <li>akomlassan26@gmail.com</li>
                <li>+228 92-38-35-69</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box pages">
              <h2 class="widget-title">Pages</h2>
              <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-box subscribe">
              <h2 class="widget-title">S'inscrire</h2>
              <p>
                Recevez des messages directement sur votre portable dès qu'il
                y'a de nouveaux articles.
              </p>
              <form action="index.html">
                <input type="email" placeholder="Email" />
                <button type="submit">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer -->

    <!-- jquery -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- count down -->
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <!-- isotope -->
    <script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
    <!-- waypoints -->
    <script src="{% static 'js/waypoints.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- magnific popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- mean menu -->
    <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
    <!-- sticker js -->
    <script src="{% static 'js/sticker.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
