<!DOCTYPE html>
{% load static %}
{% load cart_template_tags %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Friperie en ligne - Achetez des vêtements d'occasion de qualité - Hommes et Femmes</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
	<style>
		a.cart .cart-basket {
				font-size: .6rem;
				/* position: absolute; */
				/* top: -6px; */
				right: -5px;
				width: 15px;
				height: 15px;
				color: #fff;
				background-color: #e76021e5;
				border-radius: 50%;
			}
			

		.label {
				  color: black;
				  padding: 8px;
				}
		.warning {background-color:  #ffff80;} /* Orange */
		.danger {background-color: #f44336;} /* Red */
				
	</style>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
   <!--  PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{% url 'index' %}">
								<img src="{% static 'img/logo.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="{% url 'index' %}">Accueil</a>
									
								</li>
								<li  class="current-list-item"><a href="{% url 'shop' %}">Boutique</a>
									<ul class="sub-menu">
										<li><a href="{% url 'hauts' %}">Hauts</a></li>
										<li><a href="{% url 'pantalon' %}">Pantalons</a></li>
										<li><a href="{% url 'contact' %}">t-shirt homme</a></li>
										<li><a href="{% url 'jupes' %}">Jupes</a></li>
										<li><a href="{% url 'robes' %}">Robes</a></li>
									</ul>
								</li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<li><a href="{% url 'about' %}">A propos</a></li>
								
							
								<li class="nav-item px-3  mb-0 position-relative d-lg-flex">
									<div id="cart" class="d-none">
							
									</div>
									{% if request.user.is_authenticated %}
										<a href="{% url 'cart' %}" class="cart position-relative d-inline-flex" aria-label="View your shopping cart">
											<!-- <i class="fas fa fa-shopping-cart fa-lg"></i> --><i class="fas fa-shopping-cart"></i>
											<span class="cart-basket d-flex align-items-center justify-content-center">
												{{ request.user|cart_item_count}}
											</span>
										</a>
										<a href="{% url 'account_logout' %}">Déconnexion</a>
									{% else %}
                                                <a href="{% url 'account_login' %}">Connexion</a>
                                                <a href="{% url 'account_signup' %}">S'inscrire</a>   
                                    {% endif %}
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
								</li> 
								
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Rechercher:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Avoir plus de détails</p>
						<h1> description du produit</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
	{% if messages %}  
	{% for message in messages %}
		<div style="margin-top=5rem;"class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
			{{ message }} 
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
			</button> 
		</div>
	{% endfor %}
{% endif %}
	<!-- single product -->
	<div class="single-product mt-150 mb-150">
	<div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{object.image.url}}" alt="Image">
                        </div>
                        <div class="carousel-item">
                            <img class="w-100 h-100" src="{{object.image2.url}}" alt="Image">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            {% comment %} <div class="col-lg-7 h-auto mb-30"> {% endcomment %}
				<div class="col-md-7">
				<div class="single-product-content">
                <div class="h-100 bg-light p-30">
                    <h3>{{object.title}}-taille(<strong>{{object.size}}</strong>)</h3>
                        {% if object.discount_price %}
                            <p>
                                <span>
                                    <h3>FCFA {{object.discount_price}} </h3>
                                </span>
                                <h6 class="text-muted ml-2"><del>FCFA{{object.price}} </del></h6>
                            </p>
                        {% else %}
						<p class="single-product-pricing"><span>cfa </span> </p>
						<p>{{object.description}}</p>
                        {% endif %}
                    <p class="mb-4">{{object.description}}</p>
                    <div class="d-flex align-items-center mb-4 pt-2">
                        <div>  
                        <a href={{object.get_add_to_cart_url}} class="cart-btn"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart  </a>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    </div>
    </div>
    </div>
	<!-- end single product -->

	

	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">A propos de nous</h2>
						<p>Fripify est une société nouvellement au Togo, spécialisée dans la vente de friperies (abloni) de première qualité.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Nous contacter</h2>
						<ul>
							<li>Lomé,Togo.</li>
							<li>akomlassan26@gmail.com</li>
							<li>+228 92-38-35-69</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'index' %}">Accueil</a></li>
							<li><a href="{% url 'about' %}">A propos</a></li>
							<li><a href="{% url 'shop' %}">Boutique</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">S'inscrire</h2>
						<p>Recevez des messages directement sur votre portable dès qu'il y'a de nouveaux articles.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	
	
	<!-- jquery -->
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>