{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row px-xl-5">
          <div class="col-lg-8">
              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"> {% trans "Sign In" %}</span></h5>
              <div class="bg-light p-30 mb-5">
                  <div class="row">
                  
                    {% get_providers as socialaccount_providers %}

                    {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">

                      <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                      </ul>

                      <div class="login-or">{% trans 'or' %}</div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                    {% else %}
                    <p>{% blocktrans %} Si vous n'avez pas un compte avec ReStyle, veuillez en creer un 
                    <a href="{{ signup_url }}">ici</a> en premier lieu.{% endblocktrans %}<br></p>
                    {% endif %}

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                      {{form|crispy}}
                      {% comment %} {{ form.as_p }} {% endcomment %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                      <button class="btn btn-block btn-primary font-weight-bold py-3 rounded" type="submit">{% trans "Sign In" %}</button>
                    </form>
                        
                  </div>
              </div>
          
          </div>
      </div>
</div>

 

{% endblock %}




