{% extends 'main.html' %} {% load crispy_forms_tags %} {% load i18n %} {% block
head_title %}{% trans "Sign Out" %}{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-lg-8">
      <h5 class="section-title position-relative text-uppercase mb-3">
        <span class="bg-secondary pr-3"> {% trans "Sign Out" %}</span>
      </h5>
      <div class="bg-light p-30 mb-5">
        <div class="row">
          <p>{% trans 'vous voulez vous déconnecter?' %}<br /></p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %} {{form|crispy}} {% if redirect_field_value %}
            <input
              type="hidden"
              name="{{ redirect_field_name }}"
              value="{{ redirect_field_value }}"
            />
            {% endif %}
            <div>
              <button
                class="btn btn-block btn-primary font-weight-bold py-3 rounded"
                type="submit"
              >
                {% trans 'Déconnexion' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
