{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container-fluid">
      <div class="row px-xl-5">
          <div class="col-lg-8">
              <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3"> {% trans "Sign Up" %}</span></h5>
              <div class="bg-light p-30 mb-5">
                  <div class="row">
                    

                    <p>{% blocktrans %}Avez-vous déjà un compte avec ReStyle, alors <a href="{{ login_url }}">connectez-vous</a>.{% endblocktrans %}</p>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                      {% csrf_token %}
                      {{form|crispy}}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      <button class="btn btn-block btn-primary font-weight-bold py-3 rounded" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                  </div>
              </div>
          
          </div>
      </div>
  </div>

{% endblock %}
